@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/* root: define global CSS variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* applies styles for dark mode in os or browser settings. */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 53, 65, 80;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  font-family: 'Questrial';
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  /* font-family: 'Questrial'; */
}
